.button {
  display: inline-flex;
  vertical-align: top;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1rem;
  padding: 1rem 1rem;
  text-align: center;
  border: 0;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--color-gray);
  color: var(--color-light);
  transition: 0.5s;
}

.button:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}

.button__primary:hover {
  background: #068db6;
}

.button__primary {
  background-color: var(--color-primary);
}

@media (min-width: 1024px) {
  .button {
    padding: 1rem 4rem;
  }
}
